<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>最优价格计算</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    input {
      max-width: 100px;
      height: 20px;
      font-size: 14px;
      outline: none;
    }
  </style>
</head>
<body>
  <div id="app">
    <div style="display:flex;">
      <label style="display:flex;align-items: center;">计算单本
        <input type="radio" name="a" checked  @change="tab=1">
      </label>
      &nbsp;&nbsp;
      <label style="display:flex;align-items: center;">模拟购物车
        <input type="radio" name="a"  @change="tab=2">
      </label>
    </div>
    <hr>
    <br>
    <div v-for="b in books" :key="b.guid">
      <label>名称
        <input type="text" v-model="b.name">
      </label>
      <label>现价
        <input type="number" v-model="b.price">
      </label>
      <label>原价
        <input type="number" v-model="b.oldprice">
      </label>
      &nbsp;&nbsp;
      <button @click="calc(b)">计算</button>
      <label>预计到手价格: {{b.total}}元, 折扣率: {{b.percent}}%</label>
    </div>
    <br>
    <button v-if="tab == 2" @click="addbook">添加书籍</button>
    <div v-if="tab == 2">
      合计：{{books.length}}本，总价：{{books.length?books.reduce((p,c)=>p+c.price,0):0}}
    </div>
    <br>
    <hr>
    <div>
      <div>折扣选择</div>
      <br>
      <label>总共凑单金额
        <input type="text" v-model="custMax">
      </label>
      <p>（不填自动按满减最大值计算，比如600-50，默认为600）</p>
      <br>
      <div>
        <label style="display:flex;align-items: center;">
          <input type="checkbox" v-model="evr">
          <div style="width: 300px; text-align:right">
            每满
            <input type="number" v-model="evrV.max">
            减
            <input type="number" v-model="evrV.dis">
          </div>
        </label>
      </div>
      <div>
        <label style="display:flex;align-items: center;" v-for="o in options" :key="o.guid">
          <input type="checkbox" v-model="o.checked">
          <div style="width: 300px; text-align:right">
            满
            <input type="number" v-model="o.max">
            减
            <input type="number" v-model="o.dis">
          </div>
          
        </label>
      </div>
    </div>
  </div>

<script>
  const { createApp } = Vue
  
  createApp({
    data() {
      return {
        message: '',
        tab: 1,
        evr: true,
        evrV: {
          max: 100,
          dis: 50
        },
        custMax: '',
        books: [
          {
            guid: guid(),
            name: '剪商',
            price: 99,
            oldprice: 99,
            total: undefined,
            percent: undefined
          },
        ],
        options: [
          {
            guid: guid(),
            max: 300,
            dis: 50,
            checked: false
          },
          {
            guid: guid(),
            max: 600,
            dis: 50,
            checked: false
          },
          {
            guid: guid(),
            max: 600,
            dis: 60,
            checked: false
          }
        ]
      }
    },
    computed: {
      maxValue() {
        let list = this.options.filter(f=>f.checked === true);
        let max = this.custMax ? this.custMax: Math.max.apply(Math,list.map(item => { return item.max }))
        let sum = list.length? list.reduce((p,c)=>p+c.dis,0):0
        let evrsum = this.evr? Math.floor(max / this.evrV.max) * this.evrV.dis:0
        return {
          max,
          sum,
          evrsum,
          total: max - sum - evrsum
        } 
      }
    },
    methods: {
      calc(b) {
        console.log(this.maxValue);
        let x = this.maxValue.total / this.maxValue.max * b.price
        b.total = x.toFixed(2)
        b.percent = (x / b.oldprice).toFixed(2) * 100
        console.log(b)
      },
      addbook() {}
    }
  }).mount('#app')

  //生成随机 GUID 数
  function guid() {
    function S4() {
        return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
    }
    return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
  }
</script>
</body>
</html>